<h2>{{name}}</h2>
<ul>
    <li class="movies-list" *ngFor="let movie of movies">
        <span class="clickable" (click)="details(movie)">{{movie.title}}<br></span>
        <span [class.comedy]="movie.category === 'comedy'">{{movie.category}}<br></span>
        {{movie.year}}<br>
    </li>
</ul>
<label>Title: <input type="text" [(ngModel)]="newTitle"></label>
<label>Year: <input type="text" [(ngModel)]="newYear"></label>
<label>Category: <input type="text" [(ngModel)]="newCategory"></label>
<button class="btn btn-primary" (click)="addMovie()">Add movie</button>
