/* You can add global styles to this file, and also import other style files */
.jumbotron {
    background-image: url("http://placekitten.com/1900/1100");
    background-repeat: no-repeat;
    background-image: cover;
}

li:nth-child(2) {
    color: violet;
}